html,
body {
    margin: 0;
    color: blue;
    background: green;
}

body {
    padding: 15px;
}

a:link,
a:visited {
    color: blue;
}

p {
    line-height: 1.65em;
}

/*Layout*/

div.container {
    max-width: 920px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}